{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('assets/images/zwolle_1.jpg')">
                <div class="dark-layer"></div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('assets/images/zwolle_2.jpg')">
                <div class="dark-layer"></div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('assets/images/zwolle_3.jpg')">
                <div class="dark-layer"></div>
            </div>
            </div>
        </div>
    </header>
    <div class="container">
        <p>test</p>
    </div>
{% endblock %}