{% extends 'base.html.twig' %}

{% block body %}

    <br>

    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-md-6 mb-5 mb-md-0">
            <img class="img-fluid" src="../../assets/images/stadfoto.png">
        </div>
            <div class="col-md-5 ml-auto product-title-wrap">
            <h3 class="text-black mb-4 font-weight-bold">Citycentrum Zwolle</h3>
            <p class="mb-4 font-weight-dark">Citycentrum Zwolle staat voor het behartigen van de belangen van haar leden – de ondernemers in de binnenstad. De vereniging vervult deze taak al meer dan veertig jaar succesvol. Bijvoorbeeld door beleidsbeïnvloeding via diverse overlegorganen, maar ook door structureel in te zetten op belangrijke thema’s als bereikbaarheid, city-marketing en veiligheid. Door gezamenlijk op te trekken, kunnen we meer bereiken. Het Citycentrum is dé partij als het gaat om het behartigen van de belangen van de ondernemer in de Zwolse binnenstad. </p>
        </div>
    </div>

</div>
    <div class="container-fluid bg-secondary" style="height: 190px; padding-top: 45px; color: white; ">
<div class="row">
        <div class="col-1 offset-2">
            <img width="68" height="68" src="http://citycentrum-zwolle.nl/wp-content/uploads/2018/10/SVG1_new.png" class="vc_single_image-img attachment-full" alt="" style="float: left; align-content: center;">
        </div>
        <div class="col-3  " style="float: left;">
            <h4>Stichting Zwolle Fonds
            </h4>
            <p style="font-size: 13px;">
                Klik <a href="www.zwollefonds.nl"> hier</a> om naar de website van het ZwolleFonds te gaan.
            </p>
        </div>

        <div class="col-1  ">
            <img width="60" height="60" src="http://citycentrum-zwolle.nl/wp-content/uploads/2018/10/SVG2.png" class="vc_single_image-img attachment-full" alt="" style="float: left;">
        </div>
    <div class="col-3" style="float: left;">
    <h4>Bijeenkomsten
        </h4>
        <p style="font-size: 13px;">
            De eerstvolgende ondernemersbijeenkomst van het CityCentrum is op dinsdag 25 februari om 19:00 Bij Giel.
        </p>
    </div>
</div>
    </div>
    <img width="60" height="60" src="http://citycentrum-zwolle.nl/wp-content/uploads/2018/10/SVG2.png" class="vc_single_image-img attachment-full" alt="">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <h3 class="text-black mb-4 font-weight-bold">Nieuws</h3>
                <p class="mb-4 font-weight-dark">De bezoeker van de binnenstad van Zwolle wordt getrakteerd op een prachtig historisch centrum met de Peperbus, de Grote Kerk en heel veel historische panden. Een wandeling door het centrum nodigt uit tot het bezichtigen van al dit moois.

                    Daarnaast is er volop aanbod van allerlei evenementen en cultuur. Het winkelaanbod in het centrum is divers,
                    alle grootwinkelbedrijven zijn vertegenwoordigd maar ook veel gespeciali-seerde zaken op het gebied van kleding,
                    schoenen, design, koken, boeken, muziek enz. enz. </p>
                <p class="mb-4 font-weight-dark">Ook op het gebied van eten en drinken is er een enorm aanbod van cafe’s en restaurants.
                    Daarnaast is er volop aanbod van allerlei evenementen en cultuur.
                    Het winkelaanbod in het centrum is divers,
                    alle grootwinkelbedrijven zijn vertegenwoordigd maar ook veel gespecial-iseerde zaken op het gebied van kleding, schoenen, design, koken, boeken, muziek enz. enz.
                    Ook op het gebied van eten en drinken is er een enorm aanbod van cafe’s en restaurants. Zwolle nodigt .</p>
            </div>

            <div class="col-md-5">
                <img class="img-fluid" src="../../assets/images/zwollebinnenstad.png">
            </div>

        </div>

    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center">

            <div class="col-md-6 mb-5 mb-md-0">
                <img class="img-fluid" src="../../assets/images/zwolleinformatie1.png">
            </div>
            <div class="col-md-5 ml-auto product-title-wrap">
                <h3 class="text-black mb-4 font-weight-bold">Wat is het Citycentrum Zwolle?
                </h3>
                <p class="mb-4 font-weight-dark"> Citycentrum is al meer dan 40 jaar belangenbehartiger van de ondernemers in de binnenstad van Zwolle. Zij zetten zich in voor de individuele belangen van ondernemers in de binnenstad, zowel horeca als retail. De stad brede ontwikkelingen en de activiteiten zijn de verantwoordelijkheid van het ZwolleFonds. Citycentrum is de oren en ogen van de binnenstad en creëert draagvlak voor het ZwolleFonds.</p>
                <h3 class="text-black mb-4 font-weight-bold">Wat betekent dit voor ondernemers?
                </h3>
                <p class="mb-4 font-weight-dark">Door kosteloos lid te worden van Citycentrum heb je als ondernemer indirect invloed op de besluitvorming in de Stichting ZwolleFonds. Dit komt doordat Citycentrum het ZwolleFonds voedt door middel van het aanreiken van ideeën vanuit ondernemers en het voordragen van ondernemers om zitting te nemen in een van de werkgroepen.</p>
            </div>

        </div>

    </div>
<br>
    <div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Lid worden</h2>
            <hr>
            <p class="mb-4 font-weight-dark">Lidmaatschap van het Citycentrum is kosteloos. Om lid te worden zult u eerst moeten een account moeten aanmaken.
            </p>
             <a class="btn btn-primary btn-lg" href="{{ path('app_register') }}">Registreren &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact</h2>
            <hr>
            <address>
                Gemeente Zwolle – 14038
                <br>ZwolleFonds – 038-4212900
                <br>Straatwerving (Henk Dokter) – 085-0030031
                <br>
            </address>
            <address>
                Citycentrum Zwolle
                <br>
                Thorbeckegracht 30
                8011 VM Zwolle
            </address>
        </div>
    </div>
    </div>
{% endblock %}